In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\admin\appdata\roaming\python\python38\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\admin\appdata\roaming\python\python38\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\admin\appdata\roaming\python\python38\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests) (3.0.4)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests) (2020.6.20)
Installing collected packages: urllib3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.2
    Uninstalling urllib3-1.26.2:
      Successfully uninstalled urllib3-1.26.2
Successfully installed urllib3-1.25.11

In [49]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [128]:
def wikipedia(url):
    wiki_page = requests.get(url)
    print(wiki_page)
    bs = BeautifulSoup(wiki_page.content)
    #Getting Header1
    header1 = bs.find_all('h1',class_ = 'firstHeading')
    header1_new = []
    for i in header1:
        header1_new.append(i.text.replace('\n',''))
    print(len(header1_new))
    #Getting Header2
    header2 = bs.find_all('h2',class_ = 'mp-h2')
    header2_new = []
    for i in header2:
        header2_new.append(i.text.replace('\n',''))
    print(len(header2_new))
    #Getting Header3
    header3 = bs.find_all('h3',class_ = 'vector-menu-heading')
    header3_new = []
    for i in header3:
        header3_new.append(i.text.replace('\n',''))  
    print(len(header3_new))
    return(header1_new, header2_new,header3_new)

h1,h2,h3 = wikipedia('https://en.wikipedia.org/wiki/Main_Page')
print(h1)
print(h2)
print(h3)

<Response [200]>
1
8
11
['Main Page']
["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']
['Personal tools', 'Namespaces', 'Variants', 'Views', 'More', 'Navigation', 'Contribute', 'Tools', 'Print/export', 'In other projects', 'Languages']

### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [129]:
def imdb(url):
    imdb = requests.get(url)
    print(imdb)
    bs = BeautifulSoup(imdb.content)
    
    #Getting Movie Name from IMDB
    name = bs.find_all('td',class_ = 'titleColumn')
    movies = []
    for i in name:
        for j in i.find_all("a"):
            movies.append(j.text)
    movies_new = movies[0:100]
    
    #Getting Movie Rating from IMDB
    rating = bs.find_all('strong')
    rating = rating[0:100]
    ratings = []
    for i in rating:
        ratings.append(i.text)
    
    #Getting Movie Release Year from IMDB
    year=bs.find_all('span',class_="secondaryInfo")
    year = year[0:100]
    release_year=[]   
    for i in year:
        release_year.append(i.get_text())
    return(movies_new,ratings,release_year)
    
     
movies,rating,release_year = imdb('https://www.imdb.com/chart/top')
IMDB_100=pd.DataFrame({})
IMDB_100['Movie_name']=movies
IMDB_100['Rating']=rating
IMDB_100['Year_of_Release']=release_year
display(IMDB_100)
IMDB_100.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\IMDB_Top100Movie.csv")

<Response [200]>

                               Movie_name Rating Year_of_Release
0                The Shawshank Redemption    9.2          (1994)
1                           The Godfather    9.1          (1972)
2                  The Godfather: Part II    9.0          (1974)
3                         The Dark Knight    9.0          (2008)
4                            12 Angry Men    8.9          (1957)
..                                    ...    ...             ...
95                                 Jagten    8.3          (2012)
96                           Idi i smotri    8.3          (1985)
97                    Singin' in the Rain    8.3          (1952)
98                     North by Northwest    8.3          (1959)
99  Eternal Sunshine of the Spotless Mind    8.3          (2004)

[100 rows x 3 columns]

### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [130]:
def imdb(url):
    imdb = requests.get(url)
    print(imdb)
    bs = BeautifulSoup(imdb.content)
    
    #Getting Movie Name from IMDB
    name = bs.find_all('td',class_ = 'titleColumn')
    movies = []
    for i in name:
        for j in i.find_all("a"):
            movies.append(j.text)
    movies_new = movies[0:100]
    
    #Getting Movie Rating from IMDB
    rating = bs.find_all('strong')
    rating = rating[0:100]
    ratings = []
    for i in rating:
        ratings.append(i.text)
    
    #Getting Movie Release Year from IMDB
    year=bs.find_all('span',class_="secondaryInfo")
    year = year[0:100]
    release_year=[]   
    for i in year:
        release_year.append(i.get_text())
    return(movies_new,ratings,release_year)
    
     
movies,rating,release_year = imdb('https://www.imdb.com/india/top-rated-indian-movies/')
IMDB_INDIAN_100=pd.DataFrame({})
IMDB_INDIAN_100['Movie_name']=movies
IMDB_INDIAN_100['Rating']=rating
IMDB_INDIAN_100['Year_of_Release']=release_year
display(IMDB_INDIAN_100)
IMDB_INDIAN_100.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\IMDB_Top100IndianMovie.csv")

<Response [200]>

                  Movie_name Rating Year_of_Release
0            Pather Panchali    8.5          (1955)
1                    Nayakan    8.5          (1987)
2          Pariyerum Perumal    8.5          (2018)
3                 Anbe Sivam    8.5          (2003)
4                    Golmaal    8.5          (1979)
..                       ...    ...             ...
95           Andaz Apna Apna    8.1          (1994)
96                 Virumandi    8.1          (2004)
97  Uri: The Surgical Strike    8.1          (2018)
98                        PK    8.1          (2014)
99                     Lucia    8.1          (2013)

[100 rows x 3 columns]

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [131]:
def books(url):
    books = requests.get(url)
    print(books)
    bs = BeautifulSoup(books.content)
    
    #Getting 5 Book names
    name = bs.find_all('h4',class_ = 'italic')
    book_name = []
    for i in name:
        for j in i.find_all("a"):
            book_name.append(j.text)
    print(len(book_name))
    book_name = book_name[5:11]
    print(book_name)
    
    #Getting 5 Author names
    auth_name = bs.find_all('p',class_ ='sans bold')
    auth_new = []
    for i in auth_name:
        auth_new.append(i.text.replace('\n',''))
    print(len(auth_new))
    auth_new = auth_new[5:11]
    print(auth_new)
    
    #Getting 5 genre    
    genre = bs.find_all('p',class_='genre-links hidden-phone')
    genre_new = []
    for i in genre:
        genre_new.append(i.text.replace('\n',''))
    print(len(genre_new))
    genre_new = genre_new[5:11]
    print(genre_new)
    
    #Getting 5 book reviews
    review = bs.find_all('p',class_='excerpt')
    book_review  = []
    for i in review:
        book_review.append(i.text.replace('\n',''))
    print(len(book_review))
    book_review = book_review[5:11]
    print(book_review)
    return(book_name,auth_new,genre_new,book_review)
    
     
book_name,auth_name,genre_new,book_review = books('https://bookpage.com/reviews')
Book_Details=pd.DataFrame({})
Book_Details['Book_Name']=book_name
Book_Details['auth_name']=auth_name
Book_Details['genre_new']=genre_new
Book_Details['book_review']=book_review
display(Book_Details)
Book_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Book_Details.csv")

<Response [200]>
10
[' ★ The Outlier', ' ★ Ahmed Aziz’s Epic Year', ' ★ Cultish', ' ★ The Tangleroot Palace', ' ★ Bath Haus']
10
['Kai Bird', 'Nina Hamza', 'Amanda Montell', 'Marjorie Liu', 'P.J. Vernon']
10
['Nonfiction / Biography / American History', "Children's / Middle Grade", 'Nonfiction / Social Science / Linguistics', 'Science Fiction & Fantasy / Fantasy / Short Stories', 'Mystery & Suspense / Thriller']
10
['Bird argues that Jimmy Carter’s radical foreign policy initiatives and stellar domestic legislative record make his presidency important, despite the missteps.', '', 'Amanda Montell demonstrates that we are all more susceptible to joining cultish groups than we may realize.', '', '']

,Book_Name,auth_name,genre_new,book_review
0,★ The Outlier,Kai Bird,Nonfiction / Biography / American History,Bird argues that Jimmy Carter’s radical foreig...
1,★ Ahmed Aziz’s Epic Year,Nina Hamza,Children's / Middle Grade,
2,★ Cultish,Amanda Montell,Nonfiction / Social Science / Linguistics,Amanda Montell demonstrates that we are all mo...
3,★ The Tangleroot Palace,Marjorie Liu,Science Fiction & Fantasy / Fantasy / Short St...,
4,★ Bath Haus,P.J. Vernon,Mystery & Suspense / Thriller,

###5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [132]:
def oditeams(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Team names
    name = bs.find_all('span',class_ = 'u-hide-phablet')
    team_name = []
    for i in name:
        team_name.append(i.text)
    team_name = team_name[0:10]
    print (team_name)    
    
    #Getting 10 Matches
    match_name = bs.find_all('td',class_ = 'rankings-block__banner--matches')
    match_new = []
    for i in match_name:
        match_new.append(i.text)
    print(match_new)
    
    match_name = bs.find_all('td',class_ ='table-body__cell u-center-text')
    match_new_remaining = []
    for i in match_name:
        match_new_remaining.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    del match_new_remaining[1:40:2]
    match_new_remaining = match_new_remaining[0:9]
    print(match_new_remaining)
    
    match_new = match_new + match_new_remaining
    print (match_new)
   
    
    #Getting 10 team point
    team_point = bs.find_all('td',class_ ='rankings-block__banner--points')
    team_point_new = []
    for i in team_point:
        team_point_new.append(i.text.replace('\n',''))
    
    
    team_point1 = bs.find_all('td',class_ ='table-body__cell u-center-text')
    team_point_new1 = []
    for i in team_point1:
        team_point_new1.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    del team_point_new1[0:40:2]
    team_point_new1 = team_point_new1[0:9]
    
    team_point_final = team_point_new + team_point_new1
    print (team_point_final)
    
    
    
    #Getting rating for teams
    team_rating = bs.find_all('td',class_ ='rankings-block__banner--rating u-text-right')
    team_rating_new = []
    for i in team_rating:
        team_rating_new.append(i.text.replace('\n','').strip())
    
    team_rating1 = bs.find_all('td',class_ ='table-body__cell u-text-right rating')
    team_rating_new1 = []
    for i in team_rating1:
        team_rating_new1.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    team_rating_new1 = team_rating_new1[0:9]
    
    team_rating_final = team_rating_new + team_rating_new1
    print (team_rating_final)
    return (team_name,match_new,team_point_final,team_rating_final)
      
        
team_name,match_new,team_point_final,team_rating_final = oditeams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
Team_Details=pd.DataFrame({})
Team_Details['Team_Name']=team_name
Team_Details['Team_Matches']=match_new
Team_Details['Team_Points']=team_point_final
Team_Details['Team_Rating']=team_rating_final
display(Team_Details)
Team_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10TeamDetails.csv")

<Response [200]>
['New Zealand', 'Australia', 'India', 'England', 'South Africa', 'Pakistan', 'Bangladesh', 'West Indies', 'Sri Lanka', 'Afghanistan']
['17']
['25', '29', '27', '20', '24', '27', '27', '24', '17']
['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']
['2,054', '2,945', '3,344', '3,100', '2,137', '2,323', '2,438', '2,222', '1,876', '1,054']
['121', '118', '115', '115', '107', '97', '90', '82', '78', '62']

      Team_Name Team_Matches Team_Points Team_Rating
0   New Zealand           17       2,054         121
1     Australia           25       2,945         118
2         India           29       3,344         115
3       England           27       3,100         115
4  South Africa           20       2,137         107
5      Pakistan           24       2,323          97
6    Bangladesh           27       2,438          90
7   West Indies           27       2,222          82
8     Sri Lanka           24       1,876          78
9   Afghanistan           17       1,054          62

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [133]:
def odibatsmen(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Player names
    name = bs.find_all('div',class_ = 'rankings-block__banner--name-large')
    player_name = []
    for i in name:
        player_name.append(i.text)
    print (player_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rankings-table__name name')
    player_names = []
    for i in names:
        player_names.append(i.text.replace('\n',''))
    player_names = player_names[0:9]
    print (player_names) 
    
    player_names = player_name + player_names
    print(player_names)
    
    #Getting 10 Team names
    name = bs.find_all('div',class_ = 'rankings-block__banner--nationality')
    team_name = []
    for i in name:
        team_name.append(i.text.replace('\n','').strip())
    print (team_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell nationality-logo rankings-table__team')
    team_names = []
    for i in names:
        team_names.append(i.text.replace('\n',''))
    team_names = team_names[0:9]
    print (team_names) 
    
    team_names = team_name + team_names
    print(team_names,)
    
    #Getting 10 Ratings
    name = bs.find_all('div',class_ = 'rankings-block__banner--rating')
    rating = []
    for i in name:
        rating.append(i.text.replace('\n','').strip())
    print (rating)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rating')
    ratings = []
    for i in names:
        ratings.append(i.text.replace('\n',''))
    ratings = ratings[0:9]
    print (ratings) 
    
    ratings = rating + ratings
    print(ratings)
    
    return (player_names,team_names,ratings)
    
      
        
player_names,team_names,ratings = odibatsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
Batsmen_Details=pd.DataFrame({})
Batsmen_Details['Batsman_Name']=player_names
Batsmen_Details['Team_Name'] = team_names
Batsmen_Details['Rating']=ratings

display(Batsmen_Details)
Batsmen_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10Batsmen_Details.csv")

<Response [200]>
['Babar Azam']
['Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow', 'Fakhar Zaman', 'Francois du Plessis', 'David Warner', 'Shai Hope']
['Babar Azam', 'Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow', 'Fakhar Zaman', 'Francois du Plessis', 'David Warner', 'Shai Hope']
['PAK']
['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']
['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']
['865']
['857', '825', '801', '791', '785', '778', '778', '773', '773']
['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

          Batsman_Name Team_Name Rating
0           Babar Azam       PAK    865
1          Virat Kohli       IND    857
2         Rohit Sharma       IND    825
3          Ross Taylor        NZ    801
4          Aaron Finch       AUS    791
5       Jonny Bairstow       ENG    785
6         Fakhar Zaman       PAK    778
7  Francois du Plessis        SA    778
8         David Warner       AUS    773
9            Shai Hope        WI    773

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [134]:
def odibowler(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Player names
    name = bs.find_all('div',class_ = 'rankings-block__banner--name-large')
    player_name = []
    for i in name:
        player_name.append(i.text)
    print (player_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rankings-table__name name')
    player_names = []
    for i in names:
        player_names.append(i.text.replace('\n',''))
    player_names = player_names[0:9]
    print (player_names) 
    
    player_names = player_name + player_names
    print(player_names)
    
    #Getting 10 Team names
    name = bs.find_all('div',class_ = 'rankings-block__banner--nationality')
    team_name = []
    for i in name:
        team_name.append(i.text.replace('\n','').strip())
    print (team_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell nationality-logo rankings-table__team')
    team_names = []
    for i in names:
        team_names.append(i.text.replace('\n',''))
    team_names = team_names[0:9]
    print (team_names) 
    
    team_names = team_name + team_names
    print(team_names,)
    
    #Getting 10 Ratings
    name = bs.find_all('div',class_ = 'rankings-block__banner--rating')
    rating = []
    for i in name:
        rating.append(i.text.replace('\n','').strip())
    print (rating)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rating')
    ratings = []
    for i in names:
        ratings.append(i.text.replace('\n',''))
    ratings = ratings[0:9]
    print (ratings) 
    
    ratings = rating + ratings
    print(ratings)
    
    return (player_names,team_names,ratings)
    
      
        
player_names,team_names,ratings = odibatsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
Batsmen_Details=pd.DataFrame({})
Batsmen_Details['Batsman_Name']=player_names
Batsmen_Details['Team_Name'] = team_names
Batsmen_Details['Rating']=ratings

display(Batsmen_Details)
Batsmen_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10Bowling_Details.csv")

<Response [200]>
['Trent Boult']
['Mehedi Hasan', 'Mujeeb Ur Rahman', 'Matt Henry', 'Jasprit Bumrah', 'Kagiso Rabada', 'Chris Woakes', 'Josh Hazlewood', 'Pat Cummins', 'Mustafizur Rahman']
['Trent Boult', 'Mehedi Hasan', 'Mujeeb Ur Rahman', 'Matt Henry', 'Jasprit Bumrah', 'Kagiso Rabada', 'Chris Woakes', 'Josh Hazlewood', 'Pat Cummins', 'Mustafizur Rahman']
['NZ']
['BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']
['NZ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']
['737']
['713', '708', '691', '690', '666', '665', '660', '646', '645']
['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

        Batsman_Name Team_Name Rating
0        Trent Boult        NZ    737
1       Mehedi Hasan       BAN    713
2   Mujeeb Ur Rahman       AFG    708
3         Matt Henry        NZ    691
4     Jasprit Bumrah       IND    690
5      Kagiso Rabada        SA    666
6       Chris Woakes       ENG    665
7     Josh Hazlewood       AUS    660
8        Pat Cummins       AUS    646
9  Mustafizur Rahman       BAN    645

#### 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [135]:
def odiwomenteams(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Team names
    name = bs.find_all('span',class_ = 'u-hide-phablet')
    team_name = []
    for i in name:
        team_name.append(i.text)
    team_name = team_name[0:10]
    print (team_name)    
    
    #Getting 10 Matches
    match_name = bs.find_all('td',class_ = 'rankings-block__banner--matches')
    match_new = []
    for i in match_name:
        match_new.append(i.text)
    print(match_new)
    
    match_name = bs.find_all('td',class_ ='table-body__cell u-center-text')
    match_new_remaining = []
    for i in match_name:
        match_new_remaining.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    del match_new_remaining[1:40:2]
    match_new_remaining = match_new_remaining[0:9]
    print(match_new_remaining)
    
    match_new = match_new + match_new_remaining
    print (match_new)
   
    
    #Getting 10 team point
    team_point = bs.find_all('td',class_ ='rankings-block__banner--points')
    team_point_new = []
    for i in team_point:
        team_point_new.append(i.text.replace('\n',''))
    
    
    team_point1 = bs.find_all('td',class_ ='table-body__cell u-center-text')
    team_point_new1 = []
    for i in team_point1:
        team_point_new1.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    del team_point_new1[0:40:2]
    team_point_new1 = team_point_new1[0:9]
    
    team_point_final = team_point_new + team_point_new1
    print (team_point_final)
    
    
    
    #Getting rating for teams
    team_rating = bs.find_all('td',class_ ='rankings-block__banner--rating u-text-right')
    team_rating_new = []
    for i in team_rating:
        team_rating_new.append(i.text.replace('\n','').strip())
    
    team_rating1 = bs.find_all('td',class_ ='table-body__cell u-text-right rating')
    team_rating_new1 = []
    for i in team_rating1:
        team_rating_new1.append(i.text.replace('\n',''))
    
    #Deleting the additional column
    team_rating_new1 = team_rating_new1[0:9]
    
    team_rating_final = team_rating_new + team_rating_new1
    print (team_rating_final)
    return (team_name,match_new,team_point_final,team_rating_final)
      
        
team_name,match_new,team_point_final,team_rating_final = oditeams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
Team_Details=pd.DataFrame({})
Team_Details['Team_Name']=team_name
Team_Details['Team_Matches']=match_new
Team_Details['Team_Points']=team_point_final
Team_Details['Team_Rating']=team_rating_final
display(Team_Details)
Team_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10TeamDetailsWomen.csv")

<Response [200]>
['Australia', 'South Africa', 'England', 'India', 'New Zealand', 'West Indies', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Ireland']
['18']
['24', '17', '20', '21', '12', '15', '5', '11', '2']
['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']
['2,955', '2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']
['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

      Team_Name Team_Matches Team_Points Team_Rating
0     Australia           18       2,955         164
1  South Africa           24       2,828         118
2       England           17       1,993         117
3         India           20       2,226         111
4   New Zealand           21       1,947          93
5   West Indies           12       1,025          85
6      Pakistan           15       1,101          73
7    Bangladesh            5         306          61
8     Sri Lanka           11         519          47
9       Ireland            2          25          13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [136]:
def odibatswomen(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Player names
    name = bs.find_all('div',class_ = 'rankings-block__banner--name-large')
    player_name = []
    for i in name:
        player_name.append(i.text)
    print (player_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rankings-table__name name')
    player_names = []
    for i in names:
        player_names.append(i.text.replace('\n',''))
    player_names = player_names[0:9]
    print (player_names) 
    
    player_names = player_name + player_names
    print(player_names)
    
    #Getting 10 Team names
    name = bs.find_all('div',class_ = 'rankings-block__banner--nationality')
    team_name = []
    for i in name:
        team_name.append(i.text.replace('\n','').strip())
    print (team_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell nationality-logo rankings-table__team')
    team_names = []
    for i in names:
        team_names.append(i.text.replace('\n',''))
    team_names = team_names[0:9]
    print (team_names) 
    
    team_names = team_name + team_names
    print(team_names,)
    
    #Getting 10 Ratings
    name = bs.find_all('div',class_ = 'rankings-block__banner--rating')
    rating = []
    for i in name:
        rating.append(i.text.replace('\n','').strip())
    print (rating)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rating')
    ratings = []
    for i in names:
        ratings.append(i.text.replace('\n',''))
    ratings = ratings[0:9]
    print (ratings) 
    
    ratings = rating + ratings
    print(ratings)
    
    return (player_names,team_names,ratings)
    
      
        
player_names,team_names,ratings = odibatsmen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
Batswomen_Details=pd.DataFrame({})
Batswomen_Details['Batswoman_Name']=player_names
Batswomen_Details['Team_Name'] = team_names
Batswomen_Details['Rating']=ratings

display(Batswomen_Details)
Batswomen_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10WomenBatswomen_Details.csv")

<Response [200]>
['Tammy Beaumont']
['Lizelle Lee', 'Alyssa Healy', 'Stafanie Taylor', 'Meg Lanning', 'Amy Satterthwaite', 'Smriti Mandhana', 'Mithali Raj', 'Natalie Sciver', 'Laura Wolvaardt']
['Tammy Beaumont', 'Lizelle Lee', 'Alyssa Healy', 'Stafanie Taylor', 'Meg Lanning', 'Amy Satterthwaite', 'Smriti Mandhana', 'Mithali Raj', 'Natalie Sciver', 'Laura Wolvaardt']
['ENG']
['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']
['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']
['765']
['758', '756', '746', '723', '715', '710', '709', '685', '683']
['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

      Batswoman_Name Team_Name Rating
0     Tammy Beaumont       ENG    765
1        Lizelle Lee        SA    758
2       Alyssa Healy       AUS    756
3    Stafanie Taylor        WI    746
4        Meg Lanning       AUS    723
5  Amy Satterthwaite        NZ    715
6    Smriti Mandhana       IND    710
7        Mithali Raj       IND    709
8     Natalie Sciver       ENG    685
9    Laura Wolvaardt        SA    683

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [137]:
def odibowler(url):
    teams = requests.get(url)
    print(teams)
    bs = BeautifulSoup(teams.content)
    
    #Getting 10 Player names
    name = bs.find_all('div',class_ = 'rankings-block__banner--name-large')
    player_name = []
    for i in name:
        player_name.append(i.text)
    print (player_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rankings-table__name name')
    player_names = []
    for i in names:
        player_names.append(i.text.replace('\n',''))
    player_names = player_names[0:9]
    print (player_names) 
    
    player_names = player_name + player_names
    print(player_names)
    
    #Getting 10 Team names
    name = bs.find_all('div',class_ = 'rankings-block__banner--nationality')
    team_name = []
    for i in name:
        team_name.append(i.text.replace('\n','').strip())
    print (team_name)    
    
    names = bs.find_all('td',class_ = 'table-body__cell nationality-logo rankings-table__team')
    team_names = []
    for i in names:
        team_names.append(i.text.replace('\n',''))
    team_names = team_names[0:9]
    print (team_names) 
    
    team_names = team_name + team_names
    print(team_names,)
    
    #Getting 10 Ratings
    name = bs.find_all('div',class_ = 'rankings-block__banner--rating')
    rating = []
    for i in name:
        rating.append(i.text.replace('\n','').strip())
    print (rating)    
    
    names = bs.find_all('td',class_ = 'table-body__cell rating')
    ratings = []
    for i in names:
        ratings.append(i.text.replace('\n',''))
    ratings = ratings[0:9]
    print (ratings) 
    
    ratings = rating + ratings
    print(ratings)
    
    return (player_names,team_names,ratings)
    
      
        
player_names,team_names,ratings = odibatsmen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
Bowlwomen_Details=pd.DataFrame({})
Bowlwomen_Details['AllRounder_Name']=player_names
Bowlwomen_Details['Team_Name'] = team_names
Bowlwomen_Details['Rating']=ratings

display(Bowlwomen_Details)
Bowlwomen_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Top10AllRounderWomen_Details.csv")

<Response [200]>
['Marizanne Kapp']
['Ellyse Perry', 'Stafanie Taylor', 'Natalie Sciver', 'Deepti Sharma', 'Jess Jonassen', 'Ashleigh Gardner', 'Dane van Niekerk', 'Sophie Devine', 'Amelia Kerr']
['Marizanne Kapp', 'Ellyse Perry', 'Stafanie Taylor', 'Natalie Sciver', 'Deepti Sharma', 'Jess Jonassen', 'Ashleigh Gardner', 'Dane van Niekerk', 'Sophie Devine', 'Amelia Kerr']
['SA']
['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']
['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']
['418']
['418', '410', '349', '343', '307', '252', '243', '242', '236']
['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

    AllRounder_Name Team_Name Rating
0    Marizanne Kapp        SA    418
1      Ellyse Perry       AUS    418
2   Stafanie Taylor        WI    410
3    Natalie Sciver       ENG    349
4     Deepti Sharma       IND    343
5     Jess Jonassen       AUS    307
6  Ashleigh Gardner       AUS    252
7  Dane van Niekerk        SA    243
8     Sophie Devine        NZ    242
9       Amelia Kerr        NZ    236

### 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [149]:
def amazonmobile(url):
    products = requests.get(url)
    print(products)
    bs = BeautifulSoup(products.content)
    
    #Getting Product names
    names = bs.find_all('span',class_ = 'a-size-medium a-color-base a-text-normal')
    product_names = []
    for i in names:
        product_names.append(i.text)
           
    
    #Getting Price of the Product
    price = bs.find_all('span',class_ = 'a-price-whole')
    price_details = []
    for i in price:
        price_details.append(i.text)
    print(price_details)  
     
    #Getting Image URL
    url = bs.find_all('img', class_ = 's-image')
    image_url = []
    for i in url:
        image_url.append(i['src'])
    

    #Getting Average Rating
    rating = bs.find_all('span',class_ = 'a-icon-alt')
    rating_details = []
    for i in rating:
        rating_details.append(i.text.replace('amp;',' '))
        
    return (product_names,price_details,image_url,rating_details)
        
product_names, price_details, image_url, rating_details = amazonmobile('https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss')
Product_Details = pd.DataFrame({})
Product_Details['Product_Name'] = product_names[:11]
Product_Details['Image_URL'] = image_url[:11]
Product_Details['Product_Price'] = price_details[:11]
Product_Details['Average Rating'] = rating_details[:11]
display(Product_Details)
Product_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\AmazonProducts_Below20000.csv")

<Response [200]>
['11,990', '8,799', '6,799', '10,999', '13,499', '14,499', '12,999', '11,990', '9,499', '9,499', '5,298', '6,199', '16,999', '6,799', '8,999']

,Product_Name,Image_URL,Product_Price,Average Rating
0,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...",https://m.media-amazon.com/images/I/61IhTtJUXJ...,"11,990",4.2 out of 5 stars
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...",https://m.media-amazon.com/images/I/71A9Vo1Bat...,"8,799",4.2 out of 5 stars
2,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",https://m.media-amazon.com/images/I/71sxlhYhKW...,"6,799",4.2 out of 5 stars
3,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...",https://m.media-amazon.com/images/I/71X5I1cVfb...,"10,999",4.3 out of 5 stars
4,"Samsung Galaxy M12 (Black,6GB RAM, 128GB Stora...",https://m.media-amazon.com/images/I/714QWDxXgN...,"13,499",4.1 out of 5 stars
5,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor...",https://m.media-amazon.com/images/I/71-BcSc9rh...,"14,499",4.1 out of 5 stars
6,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...",https://m.media-amazon.com/images/I/61LHaUOheh...,"12,999",4.2 out of 5 stars
7,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...",https://m.media-amazon.com/images/I/71KCwNV6Mu...,"11,990",4.2 out of 5 stars
8,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...",https://m.media-amazon.com/images/I/71GQUxuSpn...,"9,499",4.2 out of 5 stars
9,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...",https://m.media-amazon.com/images/I/710jkZNub3...,"9,499",4.1 out of 5 stars
10,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...",https://m.media-amazon.com/images/I/41QsvcpKaZ...,"5,298",3.1 out of 5 stars

###8. Write a python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description

In [150]:
def weather(url):
    weather = requests.get(url)
    print(weather)
    bs = BeautifulSoup(weather.content)
    
    #Getting Period 
    period = bs.find_all('p',class_ = 'period-name')
    period_names = []
    for i in period:
        period_names.append(i.text.replace('Night',' Night'))
    print(period_names)
            
    #Getting Short Description
    short = bs.find_all('p',class_ = 'short-desc')
    short_desc = []
    for i in short:
        short_desc.append(i.text)
    print(short_desc)  
     
    #Getting Temperature
    temp = bs.find_all('p', class_ = 'temp')
    temperature_details = []
    for i in temp:
        temperature_details.append(i.text)
    print(temperature_details)
    

    #Getting Average Rating
    long = bs.find_all('div',class_ = 'col-sm-10 forecast-text')
    long_desc = []
    for i in long:
        long_desc.append(i.text)
        
    return (period_names,short_desc,temperature_details,long_desc)
        
period_names, short_desc, temperature_details, long_desc = weather('https://forecast.weather.gov/MapClick.php?lat=37.7749&lon=-122.4194#.YFhT9K8zZPY')
Weather_Details = pd.DataFrame({})
Weather_Details['Period'] = period_names[:7]
Weather_Details['Short Description'] = short_desc[:7]
Weather_Details['Temperature'] = temperature_details[:7]
Weather_Details['Long Description'] = long_desc[:7]
display(Weather_Details)
Weather_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\WeatherForecast1-7days.csv")

<Response [200]>
['Today', 'Tonight', 'Friday', 'Friday Night', 'Saturday', 'Saturday Night', 'Sunday', 'Sunday Night', 'Monday']
['Sunny thenSunny andBreezy', 'Mostly Clear', 'Sunny thenSunny andBreezy', 'Mostly Clear', 'Sunny thenSunny andBreezy', 'Mostly Clearand Breezythen MostlyClear', 'Sunny', 'Partly Cloudy', 'Mostly Sunny']
['High: 85 °F', 'Low: 57 °F', 'High: 76 °F', 'Low: 56 °F', 'High: 73 °F', 'Low: 56 °F', 'High: 71 °F', 'Low: 56 °F', 'High: 69 °F']

,Period,Short Description,Temperature,Long Description
0,Today,Sunny thenSunny andBreezy,High: 85 °F,"Sunny, with a high near 85. Breezy, with a lig..."
1,Tonight,Mostly Clear,Low: 57 °F,"Mostly clear, with a low around 57. West south..."
2,Friday,Sunny thenSunny andBreezy,High: 76 °F,"Sunny, with a high near 76. Breezy, with a wes..."
3,Friday Night,Mostly Clear,Low: 56 °F,"Mostly clear, with a low around 56. West south..."
4,Saturday,Sunny thenSunny andBreezy,High: 73 °F,"Sunny, with a high near 73. Breezy, with a wes..."
5,Saturday Night,Mostly Clearand Breezythen MostlyClear,Low: 56 °F,"Mostly clear, with a low around 56. Breezy."
6,Sunday,Sunny,High: 71 °F,"Sunny, with a high near 71."

### 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title,company name, CTC, and apply date.

In [118]:
def internshala(url):
    listings = requests.get(url)
    print(listings)
    bs = BeautifulSoup(listings.content)
    
    #Getting Job Title 
    title = bs.find_all('div',class_ = 'heading_4_5 profile')
    job_title = []
    for i in title:
        job_title.append(i.text.replace('\n',''))
    len (job_title)
            
    #Getting Company name
    name = bs.find_all('div',class_ = 'heading_6 company_name')
    comp_name = []
    for i in name:
        comp_name.append(i.text.replace('\n','').strip())
    len(comp_name)  
     
    #Getting CTC
    ctc = bs.find_all('div', class_ = 'item_body')
    CTC_Details = []
    for i in ctc:
        CTC_Details.append(i.text.replace('\n','').replace('\xa0',' ').strip())
    CTC_Details = CTC_Details[1:120:3]
    len(CTC_Details)
    

    #Getting Apply Date
    date = bs.find_all('div',class_ = 'item_body')
    apply_date = []
    for i in date:
        apply_date.append(i.text.replace('\n','').replace('\xa0','').strip())
    apply_date = apply_date[2:120:3]
    len(apply_date)
    
    print(len (job_title),len(comp_name),len(CTC_Details),len(apply_date) )
    return (job_title,comp_name,CTC_Details,apply_date)
        
job_title,comp_name,CTC_Details,apply_date = internshala('https://internshala.com/fresher-jobs')
Internshala_Freshers = pd.DataFrame({})
Internshala_Freshers['Job Title'] = job_title
Internshala_Freshers['Company Name'] = comp_name
Internshala_Freshers['CTC'] = CTC_Details
Internshala_Freshers['Apply Date'] = apply_date
display(Internshala_Freshers)
Internshala_Freshers.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\Internshala_Freshers.csv")

<Response [200]>
40 40 40 40

,Job Title,Company Name,CTC,Apply Date
0,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA,17 Jul' 21
1,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA,17 Jul' 21
2,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA,17 Jul' 21
3,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA,17 Jul' 21
4,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA,17 Jul' 21
5,Accountant,Ravi Ladia & Co,3 LPA,16 Jul' 21
6,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA,17 Jul' 21
7,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA,16 Jul' 21
8,Customer Relationship Manager (Publishing Cons...,Blue Rose Publishers,3 - 3.5 LPA,16 Jul' 21
9,Executive Assistant To Director,Best Roadways Limited,3 LPA,17 Jul' 21
10,Learning Consultant - Sales,Geekster,3 - 3.5 LPA,16 Jul' 21
11,School/Teacher Consultant,InfyBytes AI Labs Private Limited,3 - 4 LPA,16 Jul' 21
12,Junior Recruiter,Radish Consultants Private Limited,3 - 5 LPA,16 Jul' 21
13,Software Developer,Moxie.xyz,9 LPA,15 Jul' 21
14,Business Development Executive (Inside Sales),GREedge,3.75 LPA,15 Jul' 21
15,Web Developer,Fullmoon Outdoor Web Solutions,4 - 4.2 LPA,15 Jul' 21
16,Order Processor,InspectHOA,3 LPA,14 Jul' 21
17,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA,14 Jul' 21
18,Associate Software Developer,IQGateway,3.6 - 10 LPA,11 Jul' 21
19,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA,11 Jul' 21
20,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,11 Jul' 21
21,Business Development Executive,Varenyam Placements,3 - 4 LPA,11 Jul' 21
22,Corporate Sales Associate,HealthPlix Technologies Private Limited,3 - 4 LPA,11 Jul' 21
23,Inside Sales Associate,Wizklub Learning,3 - 6 LPA,11 Jul' 21
24,Mobile App Developer,Fusion Engineering,4.5 - 5.25 LPA,14 Jul' 21
25,Junior MERN Stack Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,15 Jul' 21
26,Education Innovation Manager,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,10 Jul' 21
27,General Management Associate,Redwood Algorithms,4 - 5 LPA,10 Jul' 21
28,Content & E-commerce Management Trainee,Blooprint Ecom Consulting,3 LPA,9 Jul' 21
29,Software Engineer,QuikieApps,3 - 4 LPA,9 Jul' 21
30,Sales Support & Operations Executive,SysCloud Technologies Private Limited,3 - 3.01 LPA,9 Jul' 21
31,Backend Developer,Medcords Healthcare Solution Private Limited,3 - 7 LPA,9 Jul' 21
32,Accountant,Bagga Infrastructure Limited,3 - 3.25 LPA,8 Jul' 21
33,Business Development (Sales) Associate,Exploring Infinities Edtech Private Limited,3 - 4 LPA,8 Jul' 21
34,Corporate Sales Associate,Best Roadways Limited,3 LPA,7 Jul' 21
35,Sales Executive - Mobile/Electronics,iShopAtoZ,3 - 6 LPA,7 Jul' 21
36,Reactjs Developer,The Tech Bridge,3 LPA,7 Jul' 21
37,Software Engineer,SalaryBox,5 - 15 LPA,7 Jul' 21
38,PHP & LARAVEL DEVELOPER,Nyx Wolves,3 - 3.05 LPA,4 Jul' 21
39,Customer Service Specialist,Wono Inc,5.2 - 6.4 LPA,3 Jul' 21

### 10. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price 
https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

In [127]:
def nobroker(url):
    listings = requests.get(url)
    print(listings)
    bs = BeautifulSoup(listings.content)
    
    #Getting House Title 
    title = bs.find_all('h2',class_ = 'heading-6 font-semi-bold nb__1AShY')
    house_title = []
    for i in title:
        house_title.append(i.text.replace('\n',''))
    len (house_title)
    print(house_title)
    
             
    #Getting Address
    location = bs.find_all('div',class_ = 'nb__2CMjv')
    location_details = []
    for i in location:
        location_details.append(i.text.replace('\n','').replace('\xa0',' ').strip())
    len(location_details)  
    print(location_details)
     
    #Getting EMI
    emi = bs.find_all('div', class_ = 'font-semi-bold heading-6')
    EMI_Details = []
    Area_Details = []
    Price_Details = []
    for i in emi:
        EMI_Details.append(i.text.replace('\n','').replace('\xa0',' ').strip())
    EMI_Details = EMI_Details[1:15:3]
    print(EMI_Details)
    
    #Getting Area
    area = bs.find_all('div', class_ = 'font-semi-bold heading-6')
    Area_Details = []
    for i in area:
        Area_Details.append(i.text.replace('\n','').replace('\xa0',' ').strip())
    Area_Details = Area_Details[0:15:3]
    print(Area_Details)
    
    #Getting Price
    price = bs.find_all('div', class_ = 'font-semi-bold heading-6')
    Price_Details = []
    for i in price:
        Price_Details.append(i.text.replace('\n','').replace('\xa0',' ').strip())
    Price_Details = Price_Details[2:15:3]
    print(Price_Details)
    
    return (house_title,location_details,EMI_Details,Area_Details,Price_Details)
  
    
        
#The URL mentioned in the document does not have any record so took a different URL
house_title,location_details,EMI_Details,Area_Details,Price_Details = nobroker('https://www.nobroker.in/flats-for-sale-in-vidyanagar_bangalore')
NoBroker_Details = pd.DataFrame({})
NoBroker_Details['House Title'] = house_title
NoBroker_Details['Location'] = location_details
NoBroker_Details['EMI'] = EMI_Details
NoBroker_Details['Area'] = Area_Details
NoBroker_Details['Price'] = Price_Details
display(NoBroker_Details)
NoBroker_Details.to_csv("C:\\Users\\Admin\\Downloads\\Web Scraping\\NoBroker_Details.csv")

<Response [200]>
['4+ BHK In Independent House  For Sale  In Bommasandra ', '2 BHK Apartment  For Sale  In Kb Royale In Bommasandra ', '4+ BHK For Sale  In Electronic City ', '4+ BHK Flat  For Sale  In Bommasandra Industrial Area ', '2 BHK For Sale  In Bommasandra ']
['Independent House, 15/2,Vidyanagar, Near South End Boutique Hotel, Hosur Road', 'Kb Royale  K B Royale R S Gardeneea Hosur Rd, Vidyanagar, Bommasandra, Karnataka 560100, India', 'Standalone Building, Hosur Road, Bommasandra near Southend By TGI', 'Standalone building, Noorani Masjid NEAR  Noorani Masjid', 'Electronic City,near RK City']
['₹80,240/Month', '₹57,314/Month', '₹1.43 Lacs/Month', '₹54,448/Month', '₹33,815/Month']
['4,000 sqft', '1,200 sqft', '4,800 sqft', '4,300 sqft', '1,200 sqft']
['₹1.4 Crores', '₹1 Crore', '₹2.5 Crores', '₹95 Lacs', '₹59 Lacs']

,House Title,Location,EMI,Area,Price
0,4+ BHK In Independent House For Sale In Bomm...,"Independent House, 15/2,Vidyanagar, Near South...","₹80,240/Month","4,000 sqft",₹1.4 Crores
1,2 BHK Apartment For Sale In Kb Royale In Bom...,"Kb Royale K B Royale R S Gardeneea Hosur Rd, ...","₹57,314/Month","1,200 sqft",₹1 Crore
2,4+ BHK For Sale In Electronic City,"Standalone Building, Hosur Road, Bommasandra n...",₹1.43 Lacs/Month,"4,800 sqft",₹2.5 Crores
3,4+ BHK Flat For Sale In Bommasandra Industri...,"Standalone building, Noorani Masjid NEAR Noor...","₹54,448/Month","4,300 sqft",₹95 Lacs
4,2 BHK For Sale In Bommasandra,"Electronic City,near RK City","₹33,815/Month","1,200 sqft",₹59 Lacs