1.Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [33]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException

In [34]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [35]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [36]:

Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]


#Scrapping the details of the Rank of the video
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
#Scrapping the details of the video name
video=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
#Scrapping the details of the Artist name
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
#Scrapping the details of the views information
views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
#Scrapping the details of the upload date
date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

In [37]:
#Creating a dataframe for storing the scraped data
Yt_data=pd.DataFrame({})
Yt_data['Rank']=Rank
Yt_data['Video Name']=Name
Yt_data['Artist']=Artist
Yt_data['Views(Billions)']=Views
Yt_data['Upload Date']=Upload_Date
Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.06,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.47,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.60,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.40,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.20,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.45,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.39,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.35,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.25,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.14,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.04,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.52,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.49,"April 5, 2018"
13,14.,"""Sorry""[39]",Justin Bieber,3.45,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.40,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.35,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.30,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.20,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.11,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.11,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.08,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.08,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.07,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.07,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.04,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.95,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.91,"November 9, 2017"
27,28.,"""Axel F""[53]",Crazy Frog,2.91,"June 16, 2009"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.90,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.86,"October 22, 2015"

In [40]:
#Closing the driver
driver.close()

2.Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [41]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [42]:
#Getting the website to driver
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [43]:
#Clicking international fixture section
international=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international.get_attribute('href'))

In [44]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Scrapping the data having the match name
name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)

#Scrapping the data having the series name
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
#Scrapping the data having the place of match
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
#Scrapping the data having the match date
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  #Only date
month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  #Month
for i in range(len(date)):
    Date.append(date[i].text + month[i].text)  #Appending date and month texts together
    
#Scrapping the data having match time
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")
for i in time:
    Time.append(i.text)

In [45]:
#Creating a Dataframe for the scrapped data
fixtures=pd.DataFrame({})
fixtures['Match name']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

,Match name,Series,Place,Date,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

In [46]:
#Closing the driver
driver.close()

3.Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [47]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [48]:
#Getting the website to driver
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [49]:
#Clicking on the selenium tutorial page 
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()

#Clicking on the selenium exception tutorial page
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [50]:
#Creating the empty lists to store the scraped data
Name=[]
Description=[]

#Scrapping the data having exception names
name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the description details  
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    Description.append(i.text)
    
#Checking the length of the data scrapped
print(len(Name),len(Description))

42 42

In [51]:
#Creating a dataframe for the scrapped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [52]:
#Closing the driver
driver.close()

4.Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(19-20)

D) GSDP(18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [53]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [54]:
#Getting the website to driver
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [55]:
#Clicking the economy tab and then India option
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [56]:
#Clicking on GDP of Indian states option
gdp=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [57]:
#Creating empty lists for storing the scrapped data
Rank=[]
State=[]
GSDP19_20=[]
GSDP18_19=[]
Share18_19=[]
GDP=[]

#Scrapping the data having rank of the states
rank=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
    
#Scrapping the data having State name
state=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
    
#Scrapping the data having GSDP 19-20 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
    GSDP19_20.append(i.text)
    
#Scrapping the data having GSDP 18-19 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
    GSDP18_19.append(i.text)
    
#Scrapping the data having Share 18-19 data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
    Share18_19.append(i.text)
    
#Scrapping the data having GDP billions data
for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [58]:
#Creating a dataframe for the scrapped data
GDP_data=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(19-20)':GSDP19_20,'GSDP(18-19)':GSDP18_19,'Share(18-19)':Share18_19,
                      'GDP($ billion)':GDP})
GDP_data

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [59]:
#Closing the driver
driver.close()

5.Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [60]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [61]:
#Getting the website to driver
driver.get('https://github.com/')
driver.maximize_window()

In [62]:
#Clicking explore tab and trending option using exception
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException as e:
    driver.get(trending.get_attribute('href'))

In [63]:
#Creating empty lists for storing the scrapped data
rep_title=[]
rep_desc=[]
Count=[]
Lang=[]

#Scrapping the data having the repository title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    rep_title.append(i.text)
    
#Scrapping the data having the repository description
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    rep_desc.append(i.text)
    
#Scrapping the data having the contributors count
count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    Count.append(i.text)
    
#Scrapping the data having the language used 
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None:
        Lang.append('Not Available')
    else:
        Lang.append(i.text)

In [64]:
#Checking out the length of scrapped data
print(len(rep_title),len(rep_desc),len(Count),len(Lang))

25 23 25 23

In [66]:
#Creating a dataframe for the scrapped data
github=pd.DataFrame({})
github['Repository title']=rep_title[:21]
github['Description']=rep_desc[:21]
github['Contributors count']=Count[:21]
github['Language used']=Lang[:21]
github

,Repository title,Description,Contributors count,Language used
0,Satsuoni / widevine-l3-guesser,freeCodeCamp.org's open-source codebase and cu...,91,C
1,freeCodeCamp / freeCodeCamp,AutoRecon is a multi-threaded network reconnai...,"26,256",JavaScript
2,Tib3rius / AutoRecon,Collection of publicly available IPTV channels...,536,Python
3,iptv-org / iptv,Ergonomic and modular web framework built with...,"2,779",JavaScript
4,tokio-rs / axum,Learn how to design large-scale systems. Prep ...,16,Rust
5,donnemartin / system-design-primer,Godot Engine – Multi-platform 2D and 3D game e...,"25,739",Python
6,godotengine / godot,Cataclysm - Dark Days Ahead. A turn-based surv...,"7,434",C++
7,CleverRaven / Cataclysm-DDA,The open-source repo for docs.github.com,"2,844",C++
8,github / docs,"Free, open source crypto trading bot","22,233",JavaScript
9,freqtrade / freqtrade,🏡 Open source home automation and energy manag...,"2,383",Python
10,home-assistant / core,The Swift Programming Language,"14,595",Python
11,apple / swift,openpilot is an open source driver assistance ...,"9,127",C++
12,commaai / openpilot,An interactive TLS-capable intercepting HTTP p...,"5,283",C++
13,mitmproxy / mitmproxy,The universal proxy toolchain for Android,"2,958",Python
14,SagerNet / SagerNet,"12 weeks, 25 lessons, 50 quizzes, classic Mach...",290,Kotlin
15,microsoft / ML-For-Beginners,"This repository consists of the code samples, ...","3,449",Jupyter Notebook
16,kunal-kushwaha / DSA-Bootcamp-Java,A proof-of-concept jupyter extension which con...,229,Jupyter Notebook
17,langjam / langjam,Build cross-platform desktop apps with JavaScr...,8,C++
18,deepklarity / jupyter-text2code,"Build Mobile, Desktop and WebAssembly apps wit...",216,C#
19,electron / electron,Commonly used sequence and collection algorith...,"12,545",Swift
20,unoplatform / uno,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",432,JavaScript

In [67]:
#Closing the driver
driver.close()

6.Scrape the details of top 100 songs on billiboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [68]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [69]:
#Getting the website to driver
driver.get('https://www.billboard.com/')
driver.maximize_window()

In [70]:
#Clicking charts and then hot100 option
hot_100=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))

In [71]:
#Creating empty lists for storing the scrapped data
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

#Scrapping the data having the song name
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song.append(i.text)
    
#Scrapping the data having the artist name
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist.append(i.text)
    
#Scrapping the data having the last week rank
last_week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week:
    if i.text is None:
        Lastweek.append('-')
    else:
        Lastweek.append(i.text)
        
#Scrapping the data having the peak rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)
        
#Scrapping the data having weeks on board data
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
        Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

In [72]:
#Creating a dataframe for the scrapped data
billboard=pd.DataFrame({'Song':Song,'Artist':Artist,'Last week Rank':Lastweek,'Peak Rank':Peak,'Weeks on board':Weeks_on_board})
billboard

,Song,Artist,Last week Rank,Peak Rank,Weeks on board
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

In [73]:
#Closing the driver
driver.close()

7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [74]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [75]:
#Getting the website to driver
driver.get('https://www.naukri.com/')
driver.maximize_window()
#When we run this line, automatically the webpage will be opened and maximized

In [76]:
#Clicking the recruiters option
recruit=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruit.get_attribute('href'))

In [77]:
#Finding the required elements from the search bars of job 
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys('Data science')  #Sending the keyword

#Clicking the button for searching the keyword
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [82]:
#Creating empty lists for storing the scrapped data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

#Scrapping the data having the recruiter's name
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the recruiter's designation
desc=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desc:
    Designation.append(i.text)
    
#Scrapping the data having company name
company=driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for i in company:
    Company.append(i.text)
    
#Scrapping the data having the skillset details
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
    
#Scrapping the data having the location details
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in location:
    Location.append(i.text)

In [83]:
#Checking the length of the scrapped data
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 48

In [84]:
#Creating a dataframe for the scrapped data
naukri=pd.DataFrame({})
naukri['Name']=Name[:48]
naukri['Designation']=Designation[:48]
naukri['Company']=Company[:48]
naukri['Skills']=Skills[:48]
naukri['Location']=Location
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
22,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
31,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
32,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
33,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
34,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
36,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
37,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
38,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
39,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
40,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
41,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
42,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
43,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
44,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
45,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
46,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

In [85]:
#Closing the driver
driver.close()

8.Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [86]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [87]:
#Getting the website to driver
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()
#When we run this line, automatically the webpage will be opened and maximized

In [88]:
#Creating empty lists to store the scrapped data
Book=[]
Author=[]
Volume=[]
Publisher=[]
Genre=[]

#Scrapping the data having the book name
book=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book:
    Book.append(i.text)
    
#Scrapping the data having the author name
author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author:
    Author.append(i.text)
    
#Scrapping the data having the volumes sold details
volume=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volume:
    Volume.append(i.text)

#Scrapping the data having publisher details
publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    Publisher.append(i.text)
    
#Scrapping the data having genre details 
genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)

In [89]:
#Creating a dataframe for the scrapped data
novels=pd.DataFrame({})
novels['Book']=Book
novels['Author']=Author
novels['Volumes sold']=Volume
novels['Publisher']=Publisher
novels['Genre']=Genre
novels

,Book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [90]:
#Closing the driver
driver.close()

9.Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [91]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [92]:
#Getting the website to driver
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()

In [93]:
#Creating empty lists for storing the scrapped data
Name=[]
Year=[]
Genre=[]
Runtime=[]
Rating=[]
Vote=[]

#Scrapping the data having the series name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the year span details
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
    
#Scrapping the data having the genre details
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
    
#Scrapping the data having the runtime details
runtime=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runtime:
    Runtime.append(i.text)
    
#Scrapping the data having rating details
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in rating:
    Rating.append(i.text)
    
#Scrapping the data having the votes details
votes=driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Vote.append(i.text)

In [94]:
#Creating a dataframe for the scrapped data
IMDB=pd.DataFrame({'Name':Name,'Year span':Year,'Genre':Genre,'Runtime':Runtime,'Rating':Rating,'Votes':Vote})
IMDB

,Name,Year span,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,847,093"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"884,817"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,207"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,118"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,815"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,002"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,701"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,619"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,577"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,955"

In [95]:
#Closing the driver
driver.close()

10.Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [96]:
#Connect to web driver
driver=webdriver.Chrome(r"C:\\Users\\Admin\\Downloads\\chromedriver.exe")

In [97]:
#Getting the website to driver
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()

In [98]:
#Clicking on view all datasets link
datasets=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    datasets.click()
except ElementNotInteractableException:
    driver.get(datasets.get_attribute('href'))

In [99]:
#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

#Scrapping the data having dataset name
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping the data having data type
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
#Scrapping the data having default task
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
        
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')
        
#Scrapping the data having no of instances
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
#Scrapping the data having the year details
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [100]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

,Name,Data types,Default Task,Attribute types,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [101]:
#Closing the driver
driver.close()