Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\appdata\roaming\python\python38\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

In [36]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.naukri.com/"
driver.get(URL)
driver.maximize_window()

In [37]:
#Extracting the elements
job_title = driver.find_element_by_id("qsb-keyword-sugg")
job_location=driver.find_element_by_name("location")
search_button = driver.find_element_by_class_name("btn")
#Provide the text in search job and location
job_title.send_keys("Data Analyst")
job_location.send_keys("Bangalore")
search_button.click()

In [39]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="323bd6eb-4797-4692-bb1d-0c75a0028e45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="7721c176-1e23-463c-b0a2-03519b2f84d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="505391f9-ce04-4f0a-a7e2-03615ad750ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="9f35d3d6-573d-4a35-8d6d-4b269f99461e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="5857bb6b-5c5f-489c-853c-8e2ad80c101f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="8eeaadad-beaa-4f6b-a28f-e545a2a4d510")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="f3799c4d-7560-491b-8bfa-8f5c6b0ebb61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="af1293ce-d7ab-4792-8e31-8a82a47e6165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="f075b3d7-28d0-4eb2-b901-5671771fcf67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="a07f331b-124e-47be-9d46-d2a0f438ae48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="4e068695-6954-4408-b213-c0825d7de9a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="b418e63c-20e1-4812-bcd6-69fe7bb7bd68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="32eb0919-7a5b-4892-9a6a-5f12ec1fda91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="04bf589a-e0b3-49fb-8630-9b23c38fc89b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="8edb815c-36fc-4c4c-bded-a287dd799c74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="029c4b7c-4f3f-4d7f-8735-15bf8d042e26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="60dd6172-fac9-4588-866f-47d47238f2e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="14ed6046-f82d-4154-810b-cc72509df313")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="17c79664-2407-4737-b096-7e15a80e467f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="63d56cb4-74c7-40d5-97ac-cc19f9ee44ec")>]

In [40]:
#Fetching the Job Title
title=[]  

#We need to fetch data for the first 10 job results
for x in job_title[:10]:
    title.append(x.text)

title

['Business Analyst / Data Analyst - SQL Queries, Power BI & Python exp.',
 'Immediate job openings For Partner Consultant - Sizing(Data Analyst) ',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst (Data Stewards)//Immediate Joiners//Bangalore',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst, Component Engineering',
 'Data Analyst(Immediate) - GSR Buz Services - Bangalore']

In [25]:
#Fetching the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="fec0d0db-7c84-48d7-a0aa-076daaeb3b4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="e8ebb87f-dd26-4fc4-8c04-a6717628ef61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="d0ff1b33-6a00-4ab9-af29-0b4610835a7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="9704458a-dc25-480a-9034-ee1a1182c1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="821ccf50-b13e-466c-bbfd-396cb3146ac3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="b447134f-446e-4c7b-bc58-9f8ecd5d06bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="1d267b08-8960-4504-9a26-32946d0e58bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="fe4a8a4b-5a45-470f-8d6b-3f4c02f15acd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="0e178071-ea4b-44b7-9ccf-661f815069be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="b9766297-3038-48ff-a63a-dc2094666f8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="e469f68c-5495-419b-ace6-96bff4c488c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="b9e5bc71-15b5-4f3e-a537-e3b5962e8263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="6cc8f27a-b70f-4ae6-8725-dff78239cbcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="eec476a6-d75e-42a3-ae88-493a98c65da3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="27f1ab83-141f-4728-93aa-8bd9fc5e0839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="8d29fb0c-dba4-4dd6-9dfc-7f985e23103c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="03b57244-3cb9-4e11-88ce-5aed1641864d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="cbce0dd6-33b2-4034-86b5-8fdab2e65424")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="af2b9acd-78c8-497a-bdf5-1b48e06875e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1dafd97c2ee2d65ba3988d854f543f47", element="d8168fbb-86bd-4674-a08e-586e436b52f6")>]

In [26]:
#Job Location Update
jb_location=[] 

#Fetching data for 10 records
for x in job_location[:10]:
    jb_location.append(x.text)
jb_location

['Chennai, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Marathahalli)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [41]:
#Company name
comp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name

[<selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="31bc2071-9d81-4673-ae52-4dc52c892b06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="581104d4-0d3e-4432-9172-c9856098f1fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="959836a1-0729-4d04-b607-c1a49516c10b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="b177fea0-652a-44f0-ade4-22e8029dc917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="ee14f208-236a-4334-b4e2-3ccbbe2a01fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="60dbaddc-e21e-4d19-b6b3-435d19a0c576")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="8e28ebda-dcd8-4780-adbf-f554d817ada7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="5d89c6b7-c0c5-470b-bdd8-6c0798820ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="c04a62a1-9b9e-4865-ac96-329bc5272863")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="9143a3f4-2f1b-43ba-831a-59c886086e44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="a0b9126a-f485-4985-b214-03a277dcf51f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="4f64187e-9ab7-4edb-9132-951d4c5454e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="5606c3e8-0b43-41d1-943a-e4d2354071df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="83a6f649-bd37-44b8-8cc6-88b1b2948e7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="0e401f05-d768-4202-ac4a-5e1264cdea0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="78e42507-c422-45dd-8a65-2c54c871a821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="7453b6d3-3f76-42c2-ba63-5d6da46cabdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="a9bd5898-d55f-487c-acec-ad38c182a32c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="6b2ec356-1ca5-46f6-a7ea-9861a942c851")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="4d8252ee-7131-4a79-9bed-5fa8f320c23c")>]

In [42]:
#Company
company_name=[]  #Empty list

#Loop for 10 records
for i in comp_name[:10]:
    company_name.append(i.text)
company_name

['AN INFRACON PRIVATE LIMITED',
 'RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Flipkart Internet Private Limited',
 'Tech Mahindra Ltd.',
 'Microland Limited',
 'Verizon Data Services India Pvt.Ltd',
 'Liventus, Inc.',
 'Rockwell Automation',
 'GSR Business Services Private Limited.']

In [43]:
#Experience required Data
exp_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_required

[<selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="83f20830-e229-46f0-a0d2-8b3916cb19d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="0ce399f5-c73a-493b-9b92-a0779fe570cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="331fc2f5-f0cb-4f03-8d5f-9fe0ce5135d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="fb8caa6d-9e7a-4fc6-b1cd-2bf810f4d917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="10a52d62-e886-41c9-8146-0028aa23ab4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="3bd71cf9-e715-4ae6-958d-42595ae024a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="dfba976d-b5de-4fe3-804f-96ac014783a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="43b05deb-7bfa-4d3f-a9fe-370a3268a2d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="f86f87ee-61cf-4f02-ab43-80a6ca8ca046")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="cc03cf6e-7812-40d9-a142-1eefa27e3687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="0d89be43-9465-4cef-9400-7c0fe47b44bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="9c5d4d71-7ece-431c-9734-9ff4cb306e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="81282694-6637-40a4-a69a-d45c7c23b228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="36e2cb2e-4ab6-4c00-ad5c-530f390e6810")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="76a4770c-9180-4d95-99fb-7307c07a969e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="f4a29211-aa88-4d74-b97e-f000781d7ceb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="28984cf1-55bf-43fe-b401-8ae89449e7f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="de770b85-869c-410f-9c90-8ff1035d6939")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="1a19803c-fcb8-4baf-81dd-82f60fe85772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16d91ebe6a4a9123d7249657f5e96a49", element="f2b9b25b-57ed-4242-bf62-bd413d73c5f6")>]

In [44]:
#Experience data fetching
experience=[]  

#For loop for 10 records
for i in exp_required[:10]:
    experience.append(i.text)
experience

['1-5 Yrs',
 '1-5 Yrs',
 '7-10 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '3-7 Yrs']

In [45]:
#Length validation of all the data
print(len(title),len(jb_location),len(company_name),len(experience))

10 10 10 10

In [46]:
#New dataframe for the data
job_details=pd.DataFrame({})
job_details['Job_Title']=title
job_details['Job_Location']=jb_location
job_details['Company name']=company_name
job_details['Experience']=experience
job_details

,Job_Title,Job_Location,Company name,Experience
0,"Business Analyst / Data Analyst - SQL Queries,...","Chennai, Coimbatore, Bangalore/Bengaluru",AN INFRACON PRIVATE LIMITED,1-5 Yrs
1,Immediate job openings For Partner Consultant ...,Bangalore/Bengaluru(Marathahalli),RANDSTAD INDIA PVT LTD,1-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
4,Data Analyst (Data Stewards)//Immediate Joiner...,Bangalore/Bengaluru,Tech Mahindra Ltd.,5-10 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Microland Limited,3-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Verizon Data Services India Pvt.Ltd,3-6 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
8,"Data Analyst, Component Engineering",Bangalore/Bengaluru,Rockwell Automation,2-3 Yrs
9,Data Analyst(Immediate) - GSR Buz Services - B...,Bangalore/Bengaluru,GSR Business Services Private Limited.,3-7 Yrs

In [47]:
#Csv file extraction
job_details.to_csv("DataAnalyst_Bangalore_Naukrijobs.csv")

In [48]:
#Closing the driver finally
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.

In [170]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.naukri.com/"
driver.get(URL)
driver.maximize_window()

In [171]:
#Extracting the elements
job_title = driver.find_element_by_id("qsb-keyword-sugg")
job_location=driver.find_element_by_name("location")
search_button = driver.find_element_by_class_name("btn")
#Provide the text in search job and location
job_title.send_keys("Data Scientist")
job_location.send_keys("Bangalore")
search_button.click()

In [153]:
#Job Title Fetching
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="06ecc24a-12a9-4483-ba7c-9fc7dd9d687e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="3074c0ca-5150-480e-8699-b772cd1e0921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e29b20fd-f8c8-48a6-89c2-6bea263d3fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="33d6555b-0fa8-406b-95a8-9457488ef4e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="961e0703-f7d2-4d42-9069-c7aaac09055a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="663c8976-9c0f-4625-a1ee-361fe9aec162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="3997f60f-133f-49f3-861e-77652a820fb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="b6431478-6cb6-4925-ba9d-5700ad9d14d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="4b24adcd-fb72-483b-8340-a67a249d4792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="d621e17c-3f47-4003-985c-6f5dc97b0694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="7d287070-b554-47f3-ad8d-e3283aafdcf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e6430202-bccc-4489-bb80-b3ec5110dc86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="f86193c9-5bf9-43f1-b534-22883c7092e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e6207a1f-ea6a-49ce-a790-0d8a3bee58c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="fffb506d-7748-4085-b1d9-b044930a439b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="78bc4e1d-c2c0-4277-bf80-e77075355ec1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="9cf29531-e22f-4b90-9c32-389a2b3c727a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="b6ae4ed8-16b3-4708-8510-d4a854e335e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="d8e38727-53e9-4e85-8d8e-3ca41a3abda1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="5367286f-4748-4ae4-a57b-64ac6deecc21")>]

In [154]:
#Fetching the Job Title
title=[]  

#We need to fetch data for the first 10 job results
for x in job_title[:10]:
    title.append(x.text)

title

['Senior Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior/Staff Data scientist',
 'Senior Data Scientist I',
 'IDM - Lead Data Scientist',
 'Senior/Lead Data Scientist',
 'Data Scientist',
 'Principal Data Scientist']

In [155]:
#Fetching the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e9a1179b-baf3-44cb-89c1-c23d60f9b432")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="23d81ca0-cf88-4da2-a5c5-593a2bb059b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="4e738431-f102-4009-b9e3-e53e3acc8e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="9ef6b355-2383-4dfc-9358-410fc76b113e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e167dcee-b012-460a-9de7-891356ce5215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="9ea19fe7-3c16-496a-8654-d212f58b0f7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="7c8c0273-72ab-4392-bbc9-2d8de4477d94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="24506834-37d1-481e-9518-ba59529943cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="910f6498-ca01-4106-9171-a1fe994a54cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="22853687-260e-4c7b-8f34-375d71dbe05d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="74233006-cb83-47e1-852f-811ac6034ae4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="761f06d8-79b7-4f17-800d-caccb86386cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="5183ae08-35fc-44a0-867d-df8270afaf2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="d5d9da04-0d0c-4d5a-83ce-ca3c5444bd31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="5b352c38-4dec-4c63-83af-8d60e74cbdc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="b5e54858-457c-4712-8fce-36b0d4280262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="d4614ee8-a4de-4b89-b8ad-e95a17b2babe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="440d3606-d429-4b41-9bd0-8cc8fc889f10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="9f751b7d-5119-434f-9fc8-7c6b73228155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="49211ed1-a99a-4516-8125-162436ad1a51")>]

In [156]:
#Job Location Update
jb_location=[] 

#Fetching data for 10 records
for x in job_location[:10]:
    jb_location.append(x.text)
jb_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [157]:
#Company name
comp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name

[<selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="f6a6e56e-c659-4106-988a-e12dc4edf5b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="950d3da5-db4b-4309-ad55-5e20a3d9de9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="94cddbbe-c0b4-4fa0-a435-2b876c858d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="a3b6bf37-ac5f-4384-80b5-2ae9c0b3a179")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="b8750cc6-6d65-452a-bb55-5a50f8b450d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="031d61a9-2701-4d93-8a6f-6d66cdff9d48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e3913f2b-b68d-4340-9f4a-1742ea2910ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="e3b92935-e863-4b94-89bf-b2d7e9128119")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="0d918455-3f11-44cd-94f7-6769e635fe58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="6d44272c-037b-41f6-801b-ac59152c96f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="f591989c-dc58-46d7-a20e-701a00bc9c44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="21c8d2e1-4669-4acb-a05d-5623e311e3a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="75dbf60c-d476-470b-b5ce-83c38409a356")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="073122ef-1403-4cab-a475-539cffddfa4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="cfbff063-43bb-422c-b1ce-1852a6d5e005")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="caf824bf-76ac-4653-bba0-c76dde926802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="b5abd0b8-f70b-4502-8b10-1361eb6c53af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="a3840c16-db28-4c6e-a502-21f3861f33ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="642ac466-3356-4beb-b3d8-d043d7445b9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c59c79c2df56e053dd160d2e0f94824f", element="00cd2a39-7078-447c-af1f-ee6a699ec474")>]

In [158]:
#Company
company_name=[]  #Empty list

#Loop for 10 records
for i in comp_name[:10]:
    company_name.append(i.text)
company_name

['24/7 Customer',
 '24/7 Customer',
 'Wipro Limited',
 'Pluto7',
 'Vmware',
 'Philips India Limited',
 'Philips India Limited',
 'AUREUSTECH SYSTEMS PRIVATE LIMITED',
 'Pluto7',
 'Philips India Limited']

In [176]:
#Scraping Job Description from next page
links=[x.get_attribute("href")for x in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
jb_description = []

for link in links[0:10]:
    driver.get(link)
    desc = driver.find_element_by_xpath("//*[@id='root']/main/div[2]/div[2]/section[2]").text
    description=desc.replace("Contact Person","@@@@@")
    description = description.replace("\n"," ")
    description= description.split("@@@@@")
    jb_description.append(description[0])
    
jb_description

['Job description Brief about the Role The Platforms team of the Data Science Group at [24]7.ai builds scalable AI to aid in conversational AI, agent assist solutions, and ad personalization for the Cloud. We are looking for a highly motivated and qualified data scientist to build some of our AI initiatives. This role is ideal for candidates with strong, hands-on skills in machine learning and natural language processing. Educational Qualifications: Bachelors, Master’s or PhD degree from reputed universities or institutes in one of the following disciplines: Artificial Intelligence / Machine Learning Data Science Cognitive Computing Computational Linguistics Computer Science Requirements 4+ years of experience with general purpose programming languages e.g., Python, C/C++, Java 4+ years of hands-on experience in machine learning Experience in various deep learning models, e.g., transformers, LSTMs, RNNs Experience in solving problems related to Natural Language Processing (NLP), Natural Language Understanding (NLU), and Natural Language Generation (NLG) Experience with machine learning platforms such as TensorFlow, TensorFlow Extended, PyTorch Experience building and deploying machine learning models on the Cloud (Google Cloud, Azure, AWS) Experience with production architecture of machine learning systems Good to have exposure to conversational AI, AI-based question-answering systems, AI-based compliance and monitoring systems, and ad personalization Good to have exposure to MLOps pipelines and Kubeflow Excellent communication skills Ability to collaborate cross-functionally Good presentation skills Attention to detail Responsibilities Collaborate with the Engineering and Product teams to implement machine learning models into the products and offerings of [24]7.ai Collaborate with your team members. Be responsible for implementing the machine learning models, testing them, refining them, and taking them to production Collaborate within the Data Science Group to review and refine your work to ensure the highest quality Take end-to-end ownership of AI initiatives Proactively discuss ideas for feature enhancements with the data science leadership and product leadership RoleTechnical Architect Industry TypeIT Services & Consulting Functional AreaIT Software - Other Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Computers PG :M.Tech/ME in Computers Key Skills Computer sciencedata scienceArtificial IntelligenceMachine learningLinguisticsNatural language processingNew product developmentCustomer experienceMonitoringPython',
 'Job description Brief about the Role The Platforms team of the Data Science Group at [24]7.ai builds scalable AI to aid in conversational AI, agent assist solutions, and ad personalization for the Cloud. We are looking for a highly motivated and qualified data scientist to lead some of our AI initiatives. This role is ideal for candidates with strong, hands-on skills in machine learning and natural language processing. Educational Qualifications: Bachelors, Master’s or PhD degree from reputed universities or institutes in one of the following disciplines: Artificial Intelligence / Machine Learning Data Science Cognitive Computing Computational Linguistics Computer Science Requirements 10+ years of experience with general purpose programming languages e.g., Python, C/C++, Java 10+ years of hands-on experience in machine learning 4+ years of experience leading multiple machine learning projects simultaneously Extensive experience in various deep learning models, e.g., transformers, LSTMs, RNNs Experience in solving problems related to Natural Language Processing (NLP), Natural Language Understanding (NLU), and Natural Language Generation (NLG) Experience with machine learning platforms such as TensorFlow, TensorFlow Extended, PyTorch Experience building and deploying machine learning models on the Cloud (Google Cloud, Azure, AWS) Experience with production architecture of machine learning systems Experience leading and mentoring a team of data scientists Good to have exposure to conversational AI, AI-based question-answering systems, and AI-based compliance and monitoring systems Good to have exposure to MLOps pipelines and Kubeflow Excellent communication skills Ability to collaborate cross-functionally Good presentation skills Attention to detail Responsibilities Collaborate with the Engineering and Product teams to define and build AI models into the products and offerings of [24]7.ai Lead the development of machine learning models and their production architecture Collaborate within the Data Science Group to review and refine your work Lead and own the AI initiatives end to end for at least 2-3 products Lead and mentor a team of data scientists, and be responsible for their work allocation and tracking Work with the data science leadership and product leadership to define the AI roadmap for the company RoleTechnical Architect Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Computers PG :M.Tech/ME in Computers Key Skills Computer sciencedata scienceArtificial IntelligenceMachine learningLinguisticsNatural language processingNew product developmentPrincipalMonitoringPython',
 'Job description Role: Data Scientist  Roles and Responsibilities Suitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.  Technical Skills Required: Hands on with Python or R Analytics using industry leading BI tools and technologies Implementation knowledge of supervised\\un-supervised machine learning algorithms Good statistical analysis skills for data pre-processing and data wrangling Experienced in using big data frameworks like Hadoop Knowledge of business intelligence tools or reporting tools  Data Preparation for Modeling Missing Data Imputation,Outlier Treatment Scaling, Normalization, Standardization Encoding for Categorical Variables Oversampling\\Undersampling for reducing class imbalance  Experience in building solutions using Model Library Feature Selection Tree-based Ensemble Models Gradient\\Adaptive Boosted Trees Hyper-parameter tuning Building Prediction mechanisms using methods like Logistic regression, voting classifier stacking etc  RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Tech/BE in Any Specialization Key Skills Big DataMachine LearningPython Data ScienceRLogistic RegressionData WranglingHadoopData AnalysisStatistical Analysis Skills highlighted with ‘‘ are preferred keyskills',
 'Job description Responsibilities: Build and Optimize Machine Learning models. Work with large/complex datasets to solve difficult and non-routine analysis problems, applying advanced analytical methods as needed. Build and prototype data pipelines for analysis at scale. Work cross-functionally with Business Analysts and Data Engineers to help develop cutting edge and innovative artificial intelligence and machine learning models. Make recommendations for selections on machine learning models. Drive accuracy levels to the next stage of the given ML models. Experience in developing visualization and User Good exposure in exploratory data analysis Strong experience in Statistics and ML algorithms. Minimum qualifications: (2-4) years of relevant work experience in ML and advanced data analytics(e.g., as a Machine Learning Specialist / Data scientist ). Strong Experience using machine learning and artificial intelligence frameworks such as Tensorflow, sci-kit learn, Keras using python. Good in Python/R/SAS programming. Understanding of Cloud platforms like GCP, AWS, or other. Preferred qualifications: Work experience in building data pipelines to ingest, cleanse and transform data. Applied experience with machine learning on large datasets and experience translating analysis results into business recommendations. Demonstrated skills in selecting the right statistical tools given a data analysis problem. Demonstrated effective written and verbal communication skills. Demonstrated willingness to both teach others and learn new techniques RoleSoftware Developer Industry TypeManagement Consulting Functional AreaIT Software - System Programming Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Any Specialization PG :Any Postgraduate Key Skills SANERPData analysisPrototypeMachine learningHealthcareApplication developmentciscoAnalyticsPython',
 'Job description About You You are a highly motivated person with a solid understanding of mainstream ML/AI algorithms. You have hands-on experience using popular frameworks to train, test, and deploy ML models in production environments. You have experience with statistical methods and tools for analyzing large and imperfect data sets to identify patterns, extract meaningful signals from noise, and build ML models. You are comfortable with building your own tools and infrastructure, when necessary. You are an excellent communicator and are able to convey complex ideas to different audiences. You have intense curiosity mixed with healthy skepticism you are interested in any problem where data can be applied, and you understand the importance of vetting analysis to make sure data isn t misrepresented. Above all, you are excited about working with data, and you know how to realize your ideas with code. Responsibilities Uncover business and product opportunities by efficient and actionable analysis, and present findings in a clear manner. Process large amounts data, perform data cleansing, and verify the integrity of data. Develop ML/AI models to address use-cases in the areas of security, IT automation, user experience, and optimization. Build prototypes of systems to demonstrate feasibility of proposed ML models. Collaborate with engineers and assist them with the design and implementation of ML pipelines (data ingestion, feature extraction, training, testing and validation, inference, and continual learning) in production systems. Analyze the effectiveness of new features after they are introduced in the product. Follow relevant work being done in academic and other research organizations; be as close as possible to the state-of-the-art in the fields of ML and AI. Required Qualifications 10+ years of work experience, of which 5+ years of experience in data science or machine learning working with large data sets; experience in software engineering desirable. First-hand experience working with machine learning models and techniques such as decision tree, gradient boosted tree, random forest, ensemble methods, clustering, principal component analysis, and recommendation systems. Knowledge of neural networks, deep learning, reinforcement learning, and natural language processing (NLP) will be useful. Proficient in Python. Working knowledge of other programming languages such as Java, Scala, or C++ is desirable. Knowledge of different SQL and NoSQL database systems. Solid understanding of concepts from statistics such as distributions, hypothesis testing, Bayesian methods, maximum likelihood estimation. Experience using Python statistical processing libraries such as NumPy, Pandas, SciPy, Scikit-Learn, etc. Competency with data visualization (Matplotlib, Seaborn, etc.) and analysis tools (Tableau, Presto, etc.) Familiarity with large-scale data processing frameworks such as Apache Spark, and cloud computing environments such as Amazon Web Services (AWS). Exposure to machine learning frameworks such as Keras, TensorFlow, MXNet, Caffe2, PyTorch, H2O.ai, Amazon SageMaker is a plus. MS or above in Computer Science, Electrical Engineering, Mathematics, Statistics, Physics or equivalent, or commensurate work experience. RoleTechnical Architect Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Computers PG :M.Tech/ME in Computers Key Skills Computer scienceVMwareCloud computingC++AutomationNetworkingMachine learningVirtualizationSQLPython',
 'Job description Job Responsibilities Use predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes Work with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled. Selecting features, building and optimizing classifiers using machine learning and deep learning techniques Collaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems Processing, cleansing, and verifying the integrity of data used for analysis Develop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models. Adherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata. Job Qualifications: Master s degree or PhD in Computer Science, Information management, Statistics or related field, with 10+ years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development Experience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc. Strong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc Having strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning Strong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners. Deep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent Experience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools. Proficiency in using query languages, such as SQL, PL/SQL Hands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc. Good applied statistics skills, such as distributions, statistical testing, regression, etc. Good ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition. A team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation. Ability to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines A flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization. A self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science RoleSoftware Developer Industry TypeMedical Services / Hospital Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate PG :Post Graduation Not Required Key Skills Product managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 'Job description Your responsibilities Ensure strategic direction for data science capabilities for Philips is created and kept up to date on a regular basis Continuously evaluate the latest techniques in Artificial intelligence, machine learning, robotics, statistical analysis Implement advanced algorithms for business problems based on statistical analysis, coding, deep learning, advanced data mining techniques etc. Develop new algorithms if necessary, to bring predictive, advanced statistics / learning based solutions Develop algorithms to further automate processes and feed insights back into PIL for better business outcome Co-create with business / market / functions or IT platforms on requirements Ensure quality of data and solution developed Lead and drive data mining, creating algorithms, collection of data, collection of procedures during the design, build phases of a project Lead and drive in deploy and testing of the solutions and insights Spot and evaluate emerging/cutting edge, open source, data science/machine learning libraries You are part of: You will be part of Group IT , Information and Data Management team that drives business impact through Data Science and Advanced analytics. A team that instigates collaboration across diverse teams globally to manage Data as an asset at Philips. Core competencies needed to be successful: A Master s Degree or PhD in Computer Science, Econometrics, Artificial Intelligence, Applied Mathematics, Statistics or equivalent; 10-15 years of overall experience in data science, data analytics roles 10+ years of experience in multiple of machine learning, data mining, deep learning, artificial intelligence, pattern recognition areas Experience in driving implementation of solutions, data and algorithms on data warehouse and lakes like Azure , AWS, SQL etc Demonstrable advanced programming experience in Python or another programming language such as Azure ML/R/Python etc ; Strong analytical and social skills and the capability to translate data intelligence into valuable insights for the senior stakeholders in the company Ability to formulate multiple complex business problems into hypothesis and proof of concepts for testing Manage Projects and lead a sub-portfolio of data science project teams to deliver results Coach, Guide and direct teams of internal and vendor resources Collaborate across IT platform teams to deploy solutions and drive continuous improvements Manage senior stakeholder in the company in a matrix organization i.e. Market / BG / Function leaders RoleTeam Lead/Technical Lead Industry TypeMedical Services / Hospital Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate PG :Post Graduation Not Required Key Skills Computer scienceData managementCodingAnalyticalMachine learningHealthcareData miningRoboticsSQLPython',

In [177]:
#Length validation of all the data
print(len(title),len(jb_location),len(company_name),len(jb_description))

10 10 10 10

In [178]:
#New dataframe for the data
job_details=pd.DataFrame({})
job_details['Job_Title']=title
job_details['Job_Location']=jb_location
job_details['Company name']=company_name
job_details['Job Description']=jb_description
job_details

,Job_Title,Job_Location,Company name,Job Description
0,Senior Data Scientist,Bangalore/Bengaluru,24/7 Customer,Job description Brief about the Role The Platf...
1,Principal Data Scientist,Bangalore/Bengaluru,24/7 Customer,Job description Brief about the Role The Platf...
2,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, Pune",Wipro Limited,Job description Role: Data Scientist Roles an...
3,Senior Data Scientist,Bangalore/Bengaluru,Pluto7,Job description Responsibilities: Build and Op...
4,Senior/Staff Data scientist,Bangalore/Bengaluru,Vmware,Job description About You You are a highly mot...
5,Senior Data Scientist I,Bangalore/Bengaluru,Philips India Limited,Job description Job Responsibilities Use predi...
6,IDM - Lead Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description Your responsibilities Ensure s...
7,Senior/Lead Data Scientist,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",AUREUSTECH SYSTEMS PRIVATE LIMITED,Job description Responsibilities Identify valu...
8,Data Scientist,Bangalore/Bengaluru,Pluto7,Job description Responsibilities: Build NLP ba...
9,Principal Data Scientist,Bangalore/Bengaluru,Philips India Limited,"Job description In this role, you have the opp..."

In [179]:
#Csv file extraction
job_details.to_csv("DataScientist_Bangalore_Naukrijobs.csv")

In [180]:

#Closing the driver finally
driver.close()

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [181]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.naukri.com/"
driver.get(URL)
driver.maximize_window()

In [182]:
#Extracting the elements
job_title = driver.find_element_by_id("qsb-keyword-sugg")
search_button = driver.find_element_by_class_name("btn")
#Provide the text in search job and location
job_title.send_keys("Data Scientist")
search_button.click()

In [183]:
#Filter with Delhi/NCR
filt_location=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for x in filt_location:
    if x.text=='Delhi / NCR':
        x.click()
        break

In [184]:
#Filtering the salary with 3-6 Lakhs
filt_salary=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for x in filt_salary:
    if x.text=='3-6 Lakhs':
        x.click()
        break

In [187]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

#Fetching the Job Title
title=[]  

#We need to fetch data for the first 10 job results
for x in job_title[:10]:
    title.append(x.text)

title


#Fetching the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location


#Job Location Update
jb_location=[] 

#Fetching data for 10 records
for x in job_location[:10]:
    jb_location.append(x.text)
jb_location



#Company name
comp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
comp_name


#Company
company_name=[]  #Empty list

#Loop for 10 records
for i in comp_name[:10]:
    company_name.append(i.text)
company_name


#Experience required Data
exp_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_required


#Experience data fetching
experience=[]  

#For loop for 10 records
for i in exp_required[:10]:
    experience.append(i.text)
experience


#Length validation of all the data
print(len(title),len(jb_location),len(company_name),len(experience))

10 10 10 10

In [188]:
#New dataframe for the data
job_details=pd.DataFrame({})
job_details['Job_Title']=title
job_details['Job_Location']=jb_location
job_details['Company name']=company_name
job_details['Experience']=experience
job_details

,Job_Title,Job_Location,Company name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist -Delhi,New Delhi,CHANGE LEADERS CONSULTING,5-8 Yrs
3,Data Scientist - Text NLP | Noida,Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs
4,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
5,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
6,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs
7,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
8,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

In [ ]:
#Csv file extraction
job_details.to_csv("DataScientist_DelhiNCR_Naukrijobs.csv")

In [ ]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually

In [191]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.glassdoor.co.in/index.htm"
driver.get(URL)
driver.maximize_window()

In [192]:
#Job and Location search
jb_search=driver.find_element_by_id('sc.keyword')
loc_search=driver.find_element_by_id('sc.location')

#Sending the values for job and location search
jb_search.send_keys("Data Scientist")
loc_search.send_keys("Noida")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']").click()

In [195]:
#Company name
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
comp_name

#Extracting the company from the tags
company=[]  


for i in comp_name[:10]:
    company.append(i.text)
company

#No of days when job was posted
noofdays=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
noofdays

#Extracting the days
number_of_days=[]  

for i in noofdays[:10]:
    number_of_days.append(i.text.replace('d',' days ago'))
number_of_days

#Company rating extraction
comp_rating=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
comp_rating

#Extracting the ratings
comp_ratings=[]  

for i in comp_rating[:10]:
    comp_ratings.append(i.text)
comp_ratings

#Length of the data
print(len(company),len(number_of_days),len(comp_ratings))

#New dataframe creation
job_details=pd.DataFrame({})
job_details['Company name']=company
job_details['Days posted for Job']=number_of_days
job_details['Company Rating']=comp_ratings
job_details

10 10 10

         Company name Days posted for Job Company Rating
0  Standard Chartered         12 days ago            3.8
1         AstraZeneca          5 days ago            4.2
2              PayPal        30 days ago+            4.3
3               Shell        30 days ago+            4.1
4                             14 days ago            4.1
5             Buckman         11 days ago            3.6
6        Sybrant Data        30 days ago+            3.9
7         Caterpillar          6 days ago            4.0
8   IDP Education Ltd         14 days ago            3.6
9           HDFC Bank        30 days ago+            3.2

In [ ]:
#Csv file extraction
job_details.to_csv("DataScientist_Noida_GlassDoor_Ratings.csv")

In [ ]:
driver.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page 
5. You have to scrape whole data from this webpage
6. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
7. Store the data in a dataframe.

In [207]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(URL)
driver.maximize_window()

In [208]:
#Location and Job Search
job_search=driver.find_element_by_id('KeywordSearch')
location_search=driver.find_element_by_id('LocationSearch')

#Sending the details to the webpage
job_search.send_keys("Data Scientist")
location_search.clear()
location_search.send_keys("Noida")

driver.find_element_by_xpath("//button[@id='HeroSearchButton']").click()

In [216]:
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
comp_name

#Extracting the company name from the tags
company=[]  


for i in comp_name[:10]:
    company.append(i.text)
company

#Extracting the number of salaries
no_salaries=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")
no_salaries

#Extracting the text from the tags
no_of_salaries=[]  #Empty list

#We are running a for loop for first 10 results 
for i in no_salaries[:10]:
    no_of_salaries.append(i.text)
no_of_salaries

#Extracting the average salary
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_sal

#Extracting the text from the tags
avg_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in avg_sal[:10]:
    avg_salary.append(i.text.replace('\n',''))
avg_salary

#Extracting the tags having minimum salary
min_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[1]")
min_sal

#Extracting the text from the tags
min_salary=[]  #Empty list

#We are running a for loop for first 10 results 
for i in min_sal[:10]:
    min_salary.append(i.text)
min_salary

#Extracting the maximum salary
max_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[2]")
max_sal

#Extracting the max salary 
max_salary=[]  #Empty list

#We are running a for loop for first 10 results 
for i in max_sal[:10]:
    max_salary.append(i.text)
max_salary

#Checking out the length of the datas 
print(len(company),len(no_of_salaries),len(avg_salary),len(min_salary),len(max_salary))

#Creating a new dataframe for saving the data
job_details=pd.DataFrame({})
job_details['Company Name']=company
job_details['Number of salaries']=no_of_salaries
job_details['Average salary']=avg_salary
job_details['Minimum salary']=min_salary
job_details['Maximum salary']=max_salary
job_details

0 0 0 0 0

Empty DataFrame
Columns: [Company Name, Number of salaries, Average salary, Minimum salary, Maximum salary]
Index: []

In [ ]:
#Csv file extraction
job_details.to_csv("DataScientist_Noida_GlassDoor_Salary.csv")

In [ ]:
driver.close()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

In [14]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.flipkart.com"
driver.get(URL)
driver.maximize_window()

In [15]:
#Searching sunglasses and clicking the search button
search_bar=driver.find_element_by_xpath("//input[@type='text']")
search_bar.send_keys('sunglasses')

driver.find_element_by_xpath("//button[@type='submit']").click()

In [16]:
brand=[]
prod_desc=[]
org_price=[]
discount=[]
disc_price=[]

#We need to fetch for 100 listings 
#We will take a for loop and scrap data from all the pages
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        prod_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        org_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        discount.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)
   
    #Path for next page   
    k=i+1
    next_pg="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
    driver.get(next_pg)

In [17]:
#Checking the length of the data scraped
print(len(brand),len(prod_desc),len(org_price),len(discount),len(disc_price))

#Creating a new dataframe
glass_details=pd.DataFrame({})
glass_details['Brand']=brand[:100]
glass_details['Description']=prod_desc[:100]
glass_details['Original Price']=org_price[:100]
glass_details['Discounted Price']=disc_price[:100]
glass_details['Discount']=discount[:100]
glass_details

120 120 119 119 120

,Brand,Description,Original Price,Discounted Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹3,663",₹449,87% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹1,999","₹1,415",29% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...","₹2,599",₹299,88% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹799,₹509,36% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹799,₹513,35% off
...,...,...,...,...,...
95,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹2,665",₹449,83% off
96,Singco India,"Riding Glasses, UV Protection, Others Aviator ...","₹1,499",₹227,84% off
97,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...","₹1,999",₹339,83% off
98,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...","₹1,999",₹292,85% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹2,256",₹499,77% off

In [18]:
glass_details.to_csv("Glass_Details.csv")

In [19]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.

In [20]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(URL)
driver.maximize_window()

In [21]:
Rating=[]
review=[]
full_summary=[]

#As there are nearly 10 reviews per page, we will check for 11 pages and scrap the required data
#Now we will take a for loop and scrap
for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full_summary.append(j.text)
        
    #Path for next page as it changes for every page. We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page="+str(k) 
    driver.get(next_page)

In [22]:
print(len(Rating),len(review),len(full_summary))

108 110 110

In [23]:
#New dataframe
phone_details=pd.DataFrame({})
phone_details['Rating']=Rating[:100]
phone_details['Review']=review[:100]
phone_details['Full summary']=full_summary[:100]
phone_details

,Rating,Review,Full summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Does the job,phone is good but in display is 720p lcd in th...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Super!,It's a great phone. From camera to display eve...
99,4,Super!,This is my first ever iPhone.\nAnd I truly don...

In [24]:
phone_details.to_csv("Phone_Details.csv")

In [25]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [35]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.flipkart.com"
driver.get(URL)
driver.maximize_window()

In [36]:
#Searching sneakers in the search area
search_bar=driver.find_element_by_xpath("//input[@type='text']")
search_bar.send_keys('sneakers')

#clicking submit button
driver.find_element_by_xpath("//button[@type='submit']").click()

In [37]:
brand=[]
product_desc=[]
org_price=[]
disct=[]
disc_price=[]

#We need to scrap for 100 products and here we will consider the data from first 4 pages
#We will take a for loop and scrap data from all the pages
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand.append(j.text)
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_desc.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3I9_wc']"):
        org_price.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span"):
        disct.append(j.text)
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        disc_price.append(j.text)
   
    #We are appending numbers as pages change  
    k=i+1
    next_page="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(k)
    driver.get(next_page)

In [39]:
#Checking the length of the datas
print(len(brand),len(product_desc),len(org_price),len(disct),len(disc_price))

160 129 160 160 160

In [40]:
#Creating a new dataframe
sneakers_details=pd.DataFrame({})
sneakers_details['Brand']=brand[:100]
sneakers_details['Description']=product_desc[:100]
sneakers_details['Original Price']=org_price[:100]
sneakers_details['Discounted Price']=disc_price[:100]
sneakers_details['Discount%']=disct[:100]
sneakers_details

,Brand,Description,Original Price,Discounted Price,Discount%
0,CALCADOS,Casual Sneakers Shoes For Men Sneakers For Men,"₹1,996",₹748,62% off
1,Robbie jones,Shoes in Black Color Party wear/Outdoor/Casual...,₹999,₹379,62% off
2,Alfiya,White Sneaker For Men's/Boy's Sneakers For Men,₹999,₹377,62% off
3,Shoes Bank,Sneakers For Men,₹999,₹349,65% off
4,PEHANOSA,Combo Pack Of 4 Casual Sneakers For Men,₹999,₹499,50% off
...,...,...,...,...,...
95,REEBOOT,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹999,₹199,80% off
96,JACK & JONES,Smash v2 Sneakers For Men,"₹4,499","₹1,958",56% off
97,FILA,Sneakers Sneakers For Men,"₹3,499","₹1,406",59% off
98,CAMPUS,Firm IDP Sneakers For Men,"₹1,899","₹1,329",30% off
99,Englewood,Puma Smash v2 Buck Sneakers For Men,"₹1,899",₹498,73% off

In [41]:
sneakers_details.to_csv("Sneaker_Details.csv")

In [42]:
driver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in
the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [48]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.myntra.com/shoes"
driver.get(URL)
driver.maximize_window()

In [49]:
#Filtering the color black
driver.find_element_by_xpath("//span[@data-colorhex='black']").click()

In [50]:
#Filtering the price range Rs. 6649 to Rs. 13099
driver.find_element_by_xpath("//ul[@class='price-list']/li[2]").click()

In [52]:
start_page=0
end_page=0

for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    
    #Empty lists
    shoe_names=[]
    s_desc=[]
    short_desc=[]
    price=[]
    
    #Shoe brand names
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names:
        shoe_names.append(i.text)
    
    #Short-description
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    #Shoe prices
    desc=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc:
        price.append(i.text)
    
    #for scrapping the datas from next pages.
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)

In [53]:
#Checking the length of the list
print(len(shoe_names),len(short_desc),len(price))

50 50 50

In [54]:
#Creating a new dataframe
shoes_details=pd.DataFrame({})
shoes_details['Brand name']=shoe_names
shoes_details['Short description']=short_desc
shoes_details['Price']=price
shoes_details

,Brand name,Short description,Price
0,Kalenji By Decathlon,Men KD500 Running Shoe,Rs. 7857Rs. 8449(7% OFF)
1,Nike,Women Air Max Siren Sneakers,Rs. 7375Rs. 8195(10% OFF)
2,Hush Puppies,Men Leather Derbys,Rs. 7999
3,ASICS,Men Running Shoes,Rs. 6999Rs. 9999(30% OFF)
4,Puma,Unisex Mirage Tech Sneakers,Rs. 7199Rs. 7999(10% OFF)
5,Puma,Women Liberate Nitro Running,Rs. 7499Rs. 9999(25% OFF)
6,ADIDAS,Predator .3 FG Football Shoes,Rs. 6649Rs. 6999(5% OFF)
7,Geox,Men Leather Driving Shoes,Rs. 9990
8,Lacoste,Men Woven Design Sneakers,Rs. 8500
9,Hush Puppies,Men Leather Slip-On Sneakers,Rs. 6999
10,J.FONTINI,Men Textured Leather Loafers,Rs. 6990
11,Hush Puppies,Men Textured Oxfords,Rs. 6999
12,Geox,Men Leather Semiformal Driving,Rs. 10490
13,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
14,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
15,Nike,Women Solid REPOSTO Sneakers,Rs. 6795
16,Puma,Men Running Shoes,Rs. 7799Rs. 12999(40% OFF)
17,Cole Haan,Women Solid Leather Ballerinas,Rs. 9799Rs. 13999(30% OFF)
18,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
19,J.FONTINI,Men Textured Leather Loafers,Rs. 6990
20,Ruosh,Men Formal Leather Brogues,Rs. 7490
21,Bugatti,Men Solid Leather Formal Derbys,Rs. 9999
22,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
23,Heel & Buckle London,Women Solid Leather Gladiators,Rs. 6993Rs. 9990(30% OFF)
24,UNDER ARMOUR,Women HOVR Apex 2 Training,Rs. 11899Rs. 13999(15% OFF)
25,Cole Haan,Women Leather Sneakers,Rs. 7699Rs. 10999(30% OFF)
26,Skechers,Women AIR ELEMENT 2 Sneakers,Rs. 7999
27,Puma,Women Provoke XT Training,Rs. 6649Rs. 6999(5% OFF)
28,UNDER ARMOUR,Charged RC Sportstyle Sneakers,Rs. 8999
29,ADIDAS,Women SUPERNOVA Running Shoes,Rs. 9499Rs. 9999(5% OFF)
30,FILA,Men Running Shoes,Rs. 7649Rs. 8499(10% OFF)
31,Reebok,Forever Floatride Energy 2,Rs. 9999
32,Puma,Women Eternity Nitro Running,Rs. 9749Rs. 12999(25% OFF)
33,Quechua By Decathlon,Men Trekking Shoes,Rs. 9999
34,Geox,Men Leather Driving Shoes,Rs. 9999
35,Nike,AIR ZOOM WINFLO Running Shoes,Rs. 7195Rs. 7995(10% OFF)
36,Nike,Women Running Shoes,Rs. 10795Rs. 11995(10% OFF)
37,Skechers,Men Flex Advantage 4.0Upstream,Rs. 6999
38,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
39,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
40,Puma,Men Football Shoes,Rs. 12749Rs. 16999(25% OFF)
41,Puma,Men Liberate Nitro Running,Rs. 9999
42,Geox,Men Leather Slip-On Sneakers,Rs. 9490
43,Puma,Men FUTURE Z 3.1Football Shoes,Rs. 7199Rs. 7999(10% OFF)
44,RARE RABBIT,Men Leather Loafers,Rs. 8499
45,FILA,Men Leather Sneakers,Rs. 7999
46,Ruosh,Men Textured Leather Monks,Rs. 6990
47,ALDO,Women Sandals,Rs. 8999
48,Puma,Men 365 Evoknit Ignite Ct Football,Rs. 7499Rs. 9999(25% OFF)
49,VIONIC,Men Textured Sneakers,Rs. 7039Rs. 10999(36% OFF)

In [55]:
shoes_details.to_csv("shoes_details.csv")

In [56]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [3]:
#invoking chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver.exe")
#Opening the website
URL = "https://www.amazon.in"
driver.get(URL)
driver.maximize_window()

In [4]:
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("laptop")

driver.find_element_by_id('nav-search-submit-button').click()

In [5]:
#Filtering Intel Core i7 from filters
filter1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter1:
    if i.text=='Intel Core i7':
        i.click()
        break

In [6]:
#Filtering Intel Core i9 from filters
filter1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter1:
    if i.text=='Intel Core i9':
        i.click()
        break

In [19]:
#As there are some data issue with no rating for many items, included this step
ratingstar = driver.find_element_by_xpath("//*[@id='p_72/1318476031']/span/a/section/i")
ratingstar.click()

In [20]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title=[]
for i in titles[:10]:
    title.append(i.text)

title

['HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 'Samsung Galaxy Book Flex 13.3” | Samsung Laptop with QLED Display and Intel Core i7 Processor | Galaxy Book Flex Laptop with Long Battery Life and Bluetooth-Enabled S Pen | (NP930QCG-K01US)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7 15.6-inch FHD IPS Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6/with M100 RGB Gaming Mouse/Onyx Black/2.2Kg), 81Y400VAIN',
 'Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FHD 120 Hz (10th Gen Core i7-10750H/8GB/512GB SSD/Windows 10 Home Plus & MS Office/NVIDIA1650 Ti Graphics/Eclipse Black) D560260WIN9BE',
 'ASUS ZenBook 14 (2020) Intel Core i7-1065G7 10th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Plus Graphics/Pine Grey/1.17 kg), UX425JA-BM701TS']

In [21]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price=[]
for i in prices[:10]:
    price.append(i.text)

In [22]:
price

['84,990',
 '86,990',
 '97,588',
 '54,999',
 '77,990',
 '88,990',
 '84,928',
 '90,150',
 '94,990',
 '1,20,990']

In [23]:
Ratings=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                  
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException as e:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [24]:
#checking the length of each list
print(len(title),len(price),len(Ratings))

10 10 10

In [25]:
#Creating a new dataframe for saving the data
amazon_details=pd.DataFrame({})
amazon_details['Product name']=title
amazon_details['Price']=price
amazon_details['Rating']=Ratings
amazon_details

                                        Product name     Price        Rating
0  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.5 out of 5
1  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    86,990  4.1 out of 5
2  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...    97,588  4.3 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999  4.4 out of 5
4  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    77,990  4.4 out of 5
5  Samsung Galaxy Book Flex 13.3” | Samsung Lapto...    88,990  4.6 out of 5
6  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...    84,928  4.6 out of 5
7  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...    90,150  4.3 out of 5
8  Dell G3 3500 Gaming Laptop 15.6" (39.62cms) FH...    94,990  4.2 out of 5
9  ASUS ZenBook 14 (2020) Intel Core i7-1065G7 10...  1,20,990  4.4 out of 5

In [26]:
amazon_details.to_csv("Laptop.csv")

In [27]:
driver.close()

SyntaxError: invalid syntax (<ipython-input-9-11216d855627>, line 1)